 body header{
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(90deg, darkslategrey, seagreen);
}
:root {
    --main-color: hsl(0, 100%, 100%);
    --accent-color: hsl(0, 12%, 5%);
    scroll-behavior: smooth;
}
nav h1 {
   color: blueviolet;
   font-size: 3rem;
   font-weight: bold;
   font-style: italic;
   position: absolute;
   top: 50px;

}
 .logo {
    color: var(--main-color);
    font-size: 1.5rem; 
    font-style: italic;
    display: flex;
    align-content: space-around;
    list-style-type: none;
    width: 600px;
    margin-left: 450px; 
    margin-top: 200px;
 }
.info img {
    position: relative;
    top: 100px;
    height: 400px;
}
.info h1 {
    color: var(--main-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold; 
     position: absolute;
     display: flex;
     flex-wrap: wrap;
     left: 800px;
     top: 130px;
}
.info p {
   color: var(--main-color); 
   font-family: 'Times New Roman', Times, serif;
   font-size: 2rem;
    font-weight:normal;
     position: absolute;
     display: flex;
     flex-wrap: wrap;
     top: 330px;
     left: 800px;
}
/*header is finished*/

.inform {
    background-image: url("../image/street.jpg");
    background-size: cover;
 max-width: 1200px;
  min-height: 80vh;
 margin-left: 70px;
}
.content-box {
    box-sizing: border-box;
    width: 40%;
    border: thin;
    background: rgba(88, 88, 85, 0.7);
    padding: 40px;
    margin: 40px;
}
.content-box h2 {
    color: white;
    font-size: 2rem;
}
.main_information h3 {
    color: white;
    font-size: 1 rem;
}
.main_information p {
    color: white;
    font-size: 1 rem;
}
/*content-box is finished*/
.statistics {
    background: rgb(0, 0, 0);
    width: 1200px;
    margin-left: 70px;
    color: rgb(255, 255, 255);
}
.statistics thead {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.statistics tbody {
    font-size: 3rem;
    font-weight: bold;
 text-align: center; 
}
.statistics tfoot {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; 
}
/*not ready*/
.nature h1 {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.nature p {
    color: rgb(0, 0, 0);
    text-align: center;    
}
/*not ready*/
.quote {
    background: rgb(202, 175, 196);
}
.quote img {
    width: 10%;
}
.quote h1 {
    font-size: 2rem;
    font-style: italic;
    text-align: end;
}
.quote p {
    font-size: 2rem;
    font-style: italic;
}
.box {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background: transparent;
    padding: 40px;
    margin-left: 250px;
}
/*in process*/
.blog {
    background-color: rgb(164, 197, 216);
}
.blog h2 {
    text-align: center;
    font-weight: bold;
}
#articles {
    display: flex;
    justify-content: space-around;
}
.information {
box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/boy.jpg");
    background-size: cover;
    padding: 40px;
    margin-left: 100px;
    width: 550px;
    height: 600px;
}
.data {
box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/gull.jpg");
    background-size: cover;
    padding: 40px;
    width: 550px;
    height: 600px;
}
/*do not ready*/
#travel_tips {
    text-align: center;
    font-weight: bold;
}
.tips {
    background-image: url("../image/sea.jpg");
    background-size: cover;
    color: black;
    font-size: 2rem;
}
.gallery h1 {
    font-size: 2rem;
    font-style: italic;
}
.gallery p {
    font-size: 2rem;
    font-style: italic;

}
.gallery {
     background-color: rgb(164, 197, 216);
}